---
import "../styles/aside.css";
import { AUTHOR_INFO, NAV_LINKS } from "../consts";
---

<aside>
    <section class="aside-body">
        <section class="aside-author">
            <img
                class="aside-avatar"
                src={AUTHOR_INFO.avatar}
                alt={AUTHOR_INFO.name}
                title={AUTHOR_INFO.name}
                loading="lazy"
                decoding="async"
            />
            <div class="aside-author-info">
                <h3 class="aside-name">{AUTHOR_INFO.name}</h3>
                <p class="aside-desc">{AUTHOR_INFO.description}</p>
                <p class="aside-detail">{AUTHOR_INFO.detailDescription || AUTHOR_INFO.description}</p>
            </div>
        </section>
        <section class="aside-links">
            {
                NAV_LINKS.map((link) => (
                    <a
                        href={link.href}
                        target={link.external ? "_blank" : "_self"}
                        class={link.icon}
                    >
                        {link.label}
                    </a>
                ))
            }
        </section>
        <section class="aside-copyright">
            <div>
                Powered By <a href="//astro.build" class="copy-a" target="_blank"
                    >Astro</a
                >
            </div>
            <div>
                Themed By <a href="//www.reashal.com" class="copy-a" target="_blank"
                    >reashal</a
                >
            </div>
        </section>
    </section>
    <div class="aside-btn" onclick="clickAsideBtn()"></div>
</aside>
