---
const topArticles = await Astro.glob("../pages/about.md");
const comArticles = (await Astro.glob("../pages/docs/*.md")).reverse();
---

<article class="article-container docs">
    {
        topArticles.map((post) => (
        <div class="docs-body docs-fixed">
            <a href={post.url} class="docs-a">
                <h2 class="docs-h">{post.frontmatter.title}</h2>
            </a>
            <p class="docs-p">{post.frontmatter.desc}</p>
            <time class="docs-t">{post.frontmatter.pubDate.substr(0, 10)}</time>
        </div>
    ))
    }
    {
        comArticles.map((post) => (
        <div class="docs-body">
            <a href={post.url} class="docs-a">
                <h2 class="docs-h">{post.frontmatter.title}</h2>
            </a>
            <p class="docs-p">{post.frontmatter.desc}</p>
            <time class="docs-t">{post.frontmatter.pubDate.substr(0, 10)}</time>
        </div>
    ))
    }
</article>
